Repository zavoloklom/dotenv-linter-docker: changes, and which lefthook commands are due for each by the changed paths.
All: hadolint, markdownlint

hadolint:
  run: docker run --rm -i -v ${PWD}:/app -w="/app" hadolint/hadolint < {staged_files}

markdownlint:
  run: docker run --rm -v ${PWD}:/app -w="/app" davidanson/markdownlint-cli2:v0.14.0 {staged_files}

docs: update README
  README.md
Due: markdownlint

ci: add target to build stage
  .github/workflows/main.yml
Due: none

build(deps): bump busybox from 1.36.1-musl to 1.37.0-musl
  Dockerfile
Due: hadolint

ci: add concurrency
  .github/workflows/main.yml
  .github/workflows/update-version.yml
Due: none

ci: fix newline in VERSION file
  .github/workflows/update-version.yml
Due: none

ci: throw an error if dotenv-linter unavailable
  .github/workflows/update-version.yml
Due: none

chore: add github-actions to dependabot
  .github/dependabot.yml
Due: none

ci: add PR validation pipeline
  .github/workflows/pr-validation.yml
Due: none

chore: update .dockerignore
  .dockerignore
Due: none

chore: change link to dotenv-linter
  Dockerfile
Due: hadolint

docs: change version in examples
  README.md
Due: markdownlint

ci: move build envs to composite action
  .github/actions/set-build-args/action.yml
  .github/workflows/main.yml
  .github/workflows/pr-validation.yml
Due: none

ci: add lint step for PR
  .github/workflows/pr-validation.yml
Due: none

ci: add smoke tests
  .github/workflows/pr-validation.yml
Due: none

ci: fix permissions for update job
  .github/workflows/update-version.yml
Due: none

chore: change Makefile to Taskfile
  .dockerignore
  CONTRIBUTING.md
  Makefile
  Taskfile.yml
  lefthook.yml
Due: markdownlint

docs: clarify contribution guide
  CONTRIBUTING.md
Due: markdownlint

ci: add linters to PR checks
  .github/workflows/pr-validation.yml
Due: none

chore: change dependabot to renovate to support Taskfile updates
  .github/dependabot.yml
  .github/renovate.json5
  Taskfile.yml
Due: none

chore: change hadolint/hadolint version to test renovate bot
  Taskfile.yml
Due: none

ci: add permissions to pr-validation
  .github/workflows/pr-validation.yml
Due: none

ci: add permissions to main
  .github/workflows/main.yml
Due: none

Path conditions:
  hadolint: any of: *Dockerfile*
  markdownlint: any of: *.md*, but not: CHANGELOG.md
